@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-size: 66.25%;
  font-family: poppins, sans-serif;
}

:root {
  --firstcolor: #f6f6f6;
  --secondcolor: #3a3a3a;
  --secondcolor-darker: #0c0c0c;
  --secondcolor-lighter: #707070;
  --thirdcolor: #FFA600;
  --thirdcolor-lighter: #ffc965;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  overflow-x: hidden;
}

body .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: none;
  min-height: 75px;
  width: 100%;
  padding: 15px 20px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

body .container nav.sticky {
  background-color: var(--secondcolor-darker);
  -webkit-transition: 500ms;
  transition: 500ms;
  padding: 10px 15px;
}

body .container nav .brand-logo img {
  height: 40px;
  width: 125px;
}

body .container nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

body .container nav .nav-links li {
  color: var(--firstcolor);
  font-size: 0.9rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

body .container nav .nav-links li.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--thirdcolor);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

body .container nav .nav-links li::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--thirdcolor);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

body .container nav .nav-links li:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

body .container nav .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

body .container nav .button-container li {
  color: var(--firstcolor);
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid var(--thirdcolor);
  border-radius: 15px;
  padding: 6px 25px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container nav .button-container li:hover {
  background-color: var(--thirdcolor);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container nav .burger {
  display: none;
}

body .container nav .burger div {
  width: 25px;
  height: 3px;
  background-color: var(--firstcolor);
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .container main #home {
  position: relative;
  height: 100vh;
  background: url(../images/debby-hudson-asviIGR3CPE-unsplash.png) center no-repeat;
  background-size: cover;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #home .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 200px;
}

body .container main #home .home-container .text-container {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--firstcolor);
  text-align: center;
  margin-top: 100px;
}

body .container main #home .home-container .text-container span {
  color: var(--thirdcolor);
}

body .container main #home .home-container a {
  margin-top: 50px;
  margin-bottom: 100px;
}

body .container main #home .home-container a button {
  color: var(--firstcolor);
  border: 2px solid var(--thirdcolor);
  border-radius: 15px;
  padding: 8px 24px;
  background: var(--thirdcolor);
  font-family: poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container main #home .home-container a button:active {
  -webkit-box-shadow: inset 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: inset 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
}

body .container main #home .home-container a button:hover {
  border-color: var(--thirdcolor-lighter);
  background: var(--thirdcolor-lighter);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container main #why-vtutors {
  background: var(--secondcolor);
  padding: 100px 0px;
}

body .container main #why-vtutors .why-vtutors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #why-vtutors .why-vtutors-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #why-vtutors .why-vtutors-container .title-container .title-text {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--firstcolor);
}

body .container main #why-vtutors .why-vtutors-container .title-container .title-text span {
  text-transform: none;
  color: var(--thirdcolor);
  letter-spacing: 0.1rem;
}

body .container main #why-vtutors .why-vtutors-container .title-container::after {
  content: "";
  width: 60%;
  height: 7px;
  background-color: var(--thirdcolor);
  border-radius: 5px;
  margin-top: 5px;
}

body .container main #why-vtutors .why-vtutors-container .features-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 100%;
}

body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 280px;
  height: 450px;
  background-color: var(--firstcolor);
  border-radius: 40px;
  padding: 30px;
  margin: 40px 20px;
  -webkit-box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
}

body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box svg {
  height: 80px;
  width: 80px;
  margin-top: 25px;
}

body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box .sub-title {
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box .description {
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 25px;
  text-align: center;
}

body .container main #online-tutors {
  background: var(--firstcolor);
  padding: 100px 0px;
}

body .container main #online-tutors .online-tutors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #online-tutors .online-tutors-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #online-tutors .online-tutors-container .title-container .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

body .container main #online-tutors .online-tutors-container .title-container .title-text::after {
  content: "";
  width: 70%;
  height: 7px;
  background-color: var(--thirdcolor);
  border-radius: 5px;
  margin-top: 5px;
}

body .container main #online-tutors .online-tutors-container .title-container .title-description {
  width: 60%;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 400;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 75px;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side img {
  height: 435px;
  width: 615px;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 100px;
  height: 375px;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .sub-description {
  font-size: 1.1rem;
  font-weight: 400;
  width: 300px;
  text-align: center;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .subject-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .subject-list li svg {
  height: 15px;
  width: 15px;
  margin-left: 15px;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .find-tutor {
  color: var(--firstcolor);
  border: 2px solid var(--thirdcolor);
  border-radius: 15px;
  padding: 10px 24px;
  background: var(--thirdcolor);
  font-family: poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .find-tutor:hover {
  border-color: var(--thirdcolor-lighter);
  background: var(--thirdcolor-lighter);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .find-tutor:active {
  -webkit-box-shadow: inset 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: inset 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
}

body .container main #contact .email-block-container {
  position: relative;
  height: 200px;
  background-color: var(--secondcolor);
  z-index: 50;
}

body .container main #contact .email-block-container .foreground {
  position: absolute;
  z-index: 60;
  height: 100%;
  width: 100%;
  background-color: var(--thirdcolor);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #contact .email-block-container .foreground .block-text-title {
  position: absolute;
  z-index: 70;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

body .container main #contact .email-block-container .foreground .block-text-title span {
  font-size: 1.3rem;
  font-weight: 500;
}

body .container main #contact .contact-container {
  background: url(/images/marten-bjork-6dW3xyQvcYE-unsplash.png) center no-repeat;
  background-size: cover;
  padding: 100px 0px 200px 0px;
}

body .container main #contact .contact-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #contact .contact-container .title-container .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

body .container main #contact .contact-container .title-container .title-text::after {
  content: "";
  width: 70%;
  height: 7px;
  background-color: var(--thirdcolor);
  border-radius: 5px;
  margin-top: 5px;
}

body .container main #contact .contact-container .form-container {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main #contact .contact-container .form-container #form-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 30px;
  width: 500px;
  background-color: var(--secondcolor-lighter);
  margin-left: 10%;
  border-radius: 7px;
}

body .container main #contact .contact-container .form-container #form-box .form-title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: var(--firstcolor);
}

body .container main #contact .contact-container .form-container #form-box .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  margin-top: 25px;
}

body .container main #contact .contact-container .form-container #form-box .input-container label {
  font: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--firstcolor);
}

body .container main #contact .contact-container .form-container #form-box .input-container input, body .container main #contact .contact-container .form-container #form-box .input-container textarea {
  margin: 0px 15px 15px 0px;
  font-family: poppins, sans-serif;
  padding: 7px 10px 7px 10px;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: var(--secondcolor);
  border-style: none;
  color: var(--firstcolor);
  width: 100%;
  border-radius: 7px;
  resize: none;
}

body .container main #contact .contact-container .form-container #form-box .input-container input:focus, body .container main #contact .contact-container .form-container #form-box .input-container textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 5px 5px 10px -1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 5px 5px 10px -1px rgba(0, 0, 0, 0.3);
}

body .container main #contact .contact-container .form-container #form-box .input-container input::-webkit-input-placeholder, body .container main #contact .contact-container .form-container #form-box .input-container textarea::-webkit-input-placeholder {
  color: var(--secondcolor-lighter);
}

body .container main #contact .contact-container .form-container #form-box .input-container input:-ms-input-placeholder, body .container main #contact .contact-container .form-container #form-box .input-container textarea:-ms-input-placeholder {
  color: var(--secondcolor-lighter);
}

body .container main #contact .contact-container .form-container #form-box .input-container input::-ms-input-placeholder, body .container main #contact .contact-container .form-container #form-box .input-container textarea::-ms-input-placeholder {
  color: var(--secondcolor-lighter);
}

body .container main #contact .contact-container .form-container #form-box .input-container input::placeholder, body .container main #contact .contact-container .form-container #form-box .input-container textarea::placeholder {
  color: var(--secondcolor-lighter);
}

body .container main #contact .contact-container .form-container #form-box .submit-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 30px;
}

body .container main #contact .contact-container .form-container #form-box .submit-button-container #submit-button {
  padding: 7px 35px;
  margin-top: 30px;
  border: var(--thirdcolor) 2px solid;
  border-radius: 15px;
  background-color: var(--thirdcolor);
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 600;
  color: var(--firstcolor);
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
}

body .container main #contact .contact-container .form-container #form-box .submit-button-container #submit-button:hover {
  background-color: var(--thirdcolor-lighter);
  border-color: var(--thirdcolor-lighter);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .container main #contact .contact-container .form-container #form-box .submit-button-container #submit-button:active {
  -webkit-box-shadow: inset 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: inset 8px 8px 10px -5px rgba(0, 0, 0, 0.6);
}

body .container #footer {
  height: 400px;
  background-color: var(--secondcolor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container #footer .footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 500px;
}

body .container #footer .footer-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container #footer .footer-container a .arrow-up-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  margin-top: -50px;
  background-color: var(--thirdcolor);
  cursor: pointer;
  -webkit-box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
}

body .container #footer .footer-container a .arrow-up-container svg {
  height: 30px;
  width: 30px;
}

body .container #footer .footer-container .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  width: 600px;
  padding: 20px 0px;
}

body .container #footer .footer-container .social-media-container .social-description {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--firstcolor);
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a {
  margin: 0px 15px;
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondcolor-lighter);
  padding: 15px;
  -webkit-box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box svg {
  fill: var(--firstcolor);
  height: 30px;
  width: 30px;
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box#facebook-icon:hover {
  background-color: #3b5998;
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box#twitter-icon:hover {
  background-color: #00acee;
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box#instagram-icon:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8a3ab9), color-stop(#bc2a8d), color-stop(#fccc63), to(#fbad50));
  background-image: linear-gradient(to bottom right, #8a3ab9, #bc2a8d, #fccc63, #fbad50);
}

body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box#youtube-icon:hover {
  background-color: #FF0000;
}

body .container #footer .footer-container .social-media-container .copyright-container .copyright-text {
  font-weight: 100;
  font-size: 0.9rem;
  color: var(--firstcolor);
}

body .container #footer .footer-container .social-media-container .copyright-container .copyright-text span {
  color: var(--thirdcolor);
}

/*MEDIA QUERIES FOR RESPONSIVENESS*/
@media screen and (max-width: 1024px) {
  body .container main #home .home-container {
    padding: 0px 100px;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side img {
    height: 385px;
    width: 565px;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side {
    margin: 0px 50px;
  }
}

@media screen and (max-width: 900px) {
  body .container main #online-tutors .online-tutors-container .online-tutors-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side {
    margin: 20px 40px 0px 40px;
  }
}

@media screen and (max-width: 768px) {
  body .container nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--secondcolor-darker);
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0vh;
    width: 250px;
    padding: 75px 0px;
    opacity: 0.98;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  body .container nav .nav-links li {
    font-size: 1.5rem;
    margin: 25px;
    opacity: 0;
  }
  body .container nav .nav-links.nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  body .container nav .burger {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 2000;
  }
  body .container nav .burger.toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  body .container nav .burger.toggle .line2 {
    opacity: 0;
  }
  body .container nav .burger.toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  body .container main #home .home-container {
    padding: 0px 50px;
  }
  body .container main #home .home-container .text-container {
    font-size: 2.5rem;
  }
  body .container main #why-vtutors .why-vtutors-container .title-container .title-text {
    font-size: 2.5rem;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box {
    width: 250px;
    height: 400px;
    padding: 20px;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-text {
    font-size: 2.5rem;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-description {
    font-size: 1.1rem;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side img {
    height: 400px;
    width: 580px;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side {
    margin: 20px 40px 0px 40px;
  }
  body .container main #contact .contact-container .title-container .title-text {
    font-size: 2.5rem;
  }
  body .container main #contact .contact-container .form-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container main #contact .contact-container .form-container #form-box {
    margin-left: 0%;
    padding: 50px 20px;
  }
  body .container main #contact .contact-container .form-container #form-box .input-container input, body .container main #contact .contact-container .form-container #form-box .input-container textarea {
    margin: 0px 0px 15px;
    padding: 7px 10px 7px 10px;
  }
  body .container #footer .footer-container .social-media-container .social-description {
    font-size: 1.6rem;
  }
  body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box {
    padding: 12px;
  }
  body .container #footer .footer-container .social-media-container .social-media-boxes-container a .social-media-box svg {
    height: 26px;
    width: 26px;
  }
}

@media screen and (max-width: 600px) {
  body .container main #home .home-container {
    padding: 0px 40px;
  }
  body .container main #home .home-container .text-container {
    font-size: 2rem;
  }
  body .container main #home .home-container a {
    margin-bottom: 65px;
  }
  body .container main #why-vtutors .why-vtutors-container .title-container .title-text {
    font-size: 2rem;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container {
    margin-top: 40px;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box {
    width: 225px;
    height: 375px;
    margin: 30px 15px;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box svg {
    height: 60px;
    width: 60px;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box .sub-title {
    font-size: 1.1rem;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box .description {
    font-size: 0.8rem;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-text {
    font-size: 2rem;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-description {
    font-size: 1rem;
    width: 70%;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side {
    width: 100%;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side img {
    height: 300px;
    width: 460px;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .sub-description {
    font-size: 1rem;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .subject-list {
    margin-left: -120px;
  }
  body .container main #contact .email-block-container .foreground .block-text-title {
    font-size: 1.7rem;
  }
  body .container main #contact .email-block-container .foreground .block-text-title span {
    font-size: 1.1rem;
  }
  body .container main #contact .contact-container .title-container .title-text {
    font-size: 2rem;
  }
  body .container main #contact .contact-container .form-container #form-box {
    padding: 40px 15px;
    height: 600px;
    width: 400px;
  }
  body .container main #contact .contact-container .form-container #form-box .form-title {
    font-size: 1.5rem;
  }
  body .container main #contact .contact-container .form-container #form-box .input-container {
    width: 85%;
  }
  body .container main #contact .contact-container .form-container #form-box .input-container label {
    font-size: 1rem;
  }
  body .container main #contact .contact-container .form-container #form-box .input-container textarea {
    height: 200px;
  }
  body .container #footer .footer-container a .arrow-up-container {
    height: 45px;
    width: 45px;
  }
  body .container #footer .footer-container a .arrow-up-container svg {
    height: 25px;
    width: 25px;
  }
  body .container #footer .footer-container .social-media-container .social-description {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  body .container main #home .home-container {
    padding: 0px 20px;
  }
  body .container main #home .home-container .text-container {
    font-size: 1.8rem;
  }
  body .container main #why-vtutors .why-vtutors-container .title-container .title-text {
    font-size: 1.8rem;
  }
  body .container main #why-vtutors .why-vtutors-container .title-container::after {
    height: 5px;
  }
  body .container main #why-vtutors .why-vtutors-container .features-boxes-container .feature-box {
    width: 225px;
    height: 375px;
    margin: 25px 10px;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-text {
    font-size: 1.8rem;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-text::after {
    height: 5px;
  }
  body .container main #online-tutors .online-tutors-container .title-container .title-description {
    font-size: 0.95rem;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side {
    width: 100%;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .left-side img {
    height: 250px;
    width: 410px;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .subtitle {
    font-size: 1.4rem;
  }
  body .container main #online-tutors .online-tutors-container .online-tutors-content .right-side .sub-description {
    font-size: 0.95rem;
  }
  body .container main #contact .email-block-container {
    height: 175px;
  }
  body .container main #contact .email-block-container .foreground .block-text-title {
    font-size: 1.45rem;
  }
  body .container main #contact .email-block-container .foreground .block-text-title span {
    font-size: 1rem;
  }
  body .container main #contact .contact-container .title-container .title-text {
    font-size: 1.8rem;
  }
  body .container #footer .footer-container .social-media-container .social-description {
    font-size: 1.3rem;
  }
  body .container #footer .footer-container .social-media-container .copyright-container .copyright-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  body .container nav {
    min-height: 85px;
  }
  body .container nav .button-container {
    display: none;
  }
}

/*END OF MEDIA QUERIES FOR RESPONSIVENESS*/
/*NAV LINKS ANIMATION*/
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */