* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

a {text-decoration: none;}

li {list-style: none;}

body {
     font-size: 66.25%;
     font-family: poppins, sans-serif;
}

:root {
     --firstcolor: #f6f6f6;
     --secondcolor: #3a3a3a;
     --secondcolor-darker: #0c0c0c;
     --secondcolor-lighter: #707070;
     --thirdcolor: #FFA600;
     --thirdcolor-lighter: #ffc965;
}