@import "globals.scss";

body {
     font-size: 1.3rem;
     nav {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: var(--secondcolor);
          min-height: 75px;
          .brand-logo {
               img {
                    height: 40px;
                    width: 125px;
               }
          }
          .nav-links {
               display: flex;
               justify-content: space-around;
               align-items: center;
               width: 300px;
               li {
                    color: var(--firstcolor);
                    font-size: 0.9rem;
                    font-weight: 500;
               }
          }
          .button-container {
               display: flex;
               justify-content: space-around;
               align-items: center;
               width: 250px;
               li {
                    color: var(--firstcolor);
                    font-size: 0.9rem;
                    font-weight: 500;
                    border: 2px solid var(--thirdcolor);
                    border-radius: 15px;
                    padding: 5px 20px;
               }
               li:hover {
                    background-color: var(--thirdcolor);
               }
          }
     }
}